@using Microsoft.AspNetCore.Http
@model AgregatorLinkow.Helpers.LinkList<AgregatorLinkow.LinkListItem>

@{
    ViewData["Title"] = "Home Page";
}

@{
    var previousAvailable = !Model.HasPrevious ? "disabled" : "";
    var nextAvailable = !Model.HasNext ? "disabled" : "";
}
<div class="text-right">
    <a  asp-action="Index"
       asp-route-pageNumber="@(Model.CurrentPage - 1)"
       class="btn btn-primary text-left @previousAvailable"
       style="margin-bottom:10px">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.CurrentPage + 1)"
       class="btn btn-primary text-left @nextAvailable"
       style="margin-bottom:10px">
        Next
    </a>
</div>

<table class="table">
    <tbody>
        @foreach (var listItem in Model)
        {
            <tr>
                <td style="width:10%">
                    <div class="counter">
                        <b>@Html.DisplayFor(item => listItem.PlusesNumber)</b>
                    </div>

                </td>
                <td style="width:90%">
                    <div class="tittle">
                        <b>@Html.DisplayFor(item => listItem.Title)</b>
                    </div>
                    <div class="link">
                        @Html.DisplayFor(item => listItem.Date) <a href="@listItem.Url">(@Html.DisplayFor(item => listItem.Url))</a>
                    </div>
                </td>
                <td style="width:10%">
                    @if (listItem.PlusVisibility)
                    {
                        <div class="text-center align-middle">
                            <a icon="" asp-area="" asp-controller="Home" asp-action="Plus" asp-route-linkId="@listItem.LinkId">
                                <img src="~/plus.png" asp-append-version="true">
                            </a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
